<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Settings>
        <Paths>
            <ParentFolderPath>"C:\Temp\Package"</ParentFolderPath>
            <AppFolderName>App</AppFolderName>
            <OutputFolderName>Intune</OutputFolderName>
        </Paths>
        <Files>
            <DeployApplicationName>Deploy-Application.exe</DeployApplicationName>
            <IntuneWinUtilPath>intunewin.exe</IntuneWinUtilPath>
            <OutputFilePattern>{FolderName}.intunewin</OutputFilePattern>
        </Files>
        <Logging>
            <Verbose>true</Verbose>
        </Logging>
    </Settings>
</Configuration>